html, body {
	margin: 0px;
	padding: 0px;
}

a {
	/*color: #1252b9;*/
	color: #1a57b9;
}

.link {
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

hr {
  height: 1px;
  border: 0px;
  background: #c4c4c4;
}

li.styled {
	list-style: disc !important;
  margin-left: 24px;
}

.hide {
	display: none;
}

.font_n1 {
	font-family: 'Nunito', sans-serif;
}

.bg_color_n1 {
  background-color: #2d3a58;
}

.bg_color_n2 {
  background-color: #ffffff;
}

.bg_color_n3 {
  background-color: #1e2944;
}

.bg_color_n4-hover:hover {
	background-color: #263250;
}

.text_color_n2 {
  color: #ffffff;
}

[data-role=webpage_menu_title] {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #5a5a5a;
  display: block;
}

[data-group=main][data-role=container_wrapper] {
	max-width: 1100px;
	padding: 30px;
	box-sizing: border-box;
	margin: 0 auto;
}

[data-group=main][data-role=container] {
	width: 100%;
	padding: 30px 20px;
	box-sizing: border-box;
	border-radius: 20px;
	margin-top: 0.64em;
}

[data-group=main][data-role=breadcrumbs] {
	box-sizing: border-box;
	border-radius: 20px;
  display: inline-block;
  clear: both;
}

[data-group=main][data-role=breadcrumb] {
	padding: 0px 18px;
	border-radius: 8px;
  display: flex;
  float: left;
  margin-right: 10px;
  height: 44px;
  box-sizing: border-box;
  min-width: 44px;
  align-items: center;
  font-size: 17px;
  margin-bottom: 0.7em;
}

[data-group=main][data-role=breadcrumb][data-content=menu] {
	padding: 0px;
	justify-content: center;
	border: 0px;
	z-index: 1;
}

[data-group=main][data-role=breadcrumb][data-content=menu] label[for=menu_controller] {
	width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-group=main][data-role=breadcrumb][data-content=menu] label[for=menu_controller]:hover {
	cursor: pointer;
}

[data-group=main][data-role=menu] {
	display: none;
	position: fixed;
	top: 54px;
  left: -10px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

[data-group=main][data-role=menu] ul {
	padding: 0px;
	margin: 0px;
}

[data-group=main][data-role=menu] ul li {
	list-style: none;
}

[data-group=main][data-role=menu] [data-role=section_item] {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0px;
  padding: 8px 14px;
  padding-right: 20px;
  font-size: 16px;
}

[data-group=main][data-role=menu] [data-role=section_item]:hover {
  background: #e2ecff;
}

[data-group=main][data-role=menu] [data-role=section_item] > [data-role=icon] {
	margin-right: 12px;
  background: #2d3a58;
  border-radius: 8px;
  color: #fff;
  min-height: 30px;
  min-width: 30px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

[data-group=main][data-role=menu] [data-role=section_item] > [data-role=icon][data-state=closed] {
  display: flex;
}

[data-group=main][data-role=menu] [data-role=section_item] > [data-role=icon][data-state=opened] {
  display: none;
}

input[type=checkbox][name=menu]:checked + [data-group=menu][data-role=wrapper] [data-group=main][data-role=menu] {
	display: block;
}

ul[data-group=menu][data-role=sub_menu] {
	display: block;
	margin-left: 700px;
	padding: 15px;
	overflow-y: scroll;
}
/*
input[type=radio][name=sub_menu]:checked + label [data-role=icon][data-state=opened]{
	display: flex;
  padding: 0px 10px;
}

input[type=radio][name=sub_menu]:checked + label [data-role=icon][data-state=closed] {
	display: none;
}

input[type=radio][name=sub_menu]:checked + label a {
	display: none;
}

input[type=radio][name=sub_menu]:checked + label {
	z-index: 2;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
}*/

input[type=radio][name=sub_menu]:checked + [data-group=menu][data-role=sub_menu] {
	position: absolute;
	background: #ffffff;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin-left: 0px;
}

input[type=radio][name=sub_menu]:checked + [data-group=menu][data-role=sub_menu] [data-group=menu][data-role=sub_menu] {
	position: absolute;
}

[data-group=breadcrumbs][data-role=container] {
	border-radius: 8px;
}

[data-group=breadcrumbs][data-role=content] {
	padding: 0px 10px;
  line-height: 24px;
}

[data-group=breadcrumbs][data-role=logo_wrapper] {
	background: #2d3a58;    
	padding: 9px 10px 4px 10px;
	border-radius: 8px;
}

i[data-role=webpage_link] {
  margin: 20px;
  display: block;
  font-size: 14px;
}

[data-role=section_item] img {
	margin-right: 10px;
}


/*input[type=radio][name=sub_menu]:checked + label + [data-group=menu][data-role=sub_menu] > li > [data-group=menu][data-role=sub_menu] {
	display: block;
	margin-left: 0px;
}*/

[data-group=main][data-role=breadcrumb] img {
	height: 24px;
	width: auto;
}

a.dark_bg {
	color: #a7c9ff;
}

[data-group=main][data-role=header] {
	width: 100%;
}

[data-group=card][data-role=content_wrapper] {
	display: flex;
	flex-wrap: wrap;
}

img[data-group=card] {
	width: 194px; 
	height: auto;
	position: relative;
}

[data-group=card][data-role=text] {
	padding-left: 20px;
}

[data-group=card][data-role=text] h2 {
	margin-top: 8px;
	margin-bottom: 0px;
}

h1[data-role=logo] {
	font-weight: 300;
  padding: 12px 18px;
  margin-top: 0px;
  border-radius: 10px;

  display: inline-flex;
  align-items: center;
}

h1[data-role=logo] img {
	margin-right: 12px;
}


/*@media screen and (min-width:769px){
	[data-group=main][data-role=menu] {
		width: 340px;
	}


	[data-group=main][data-role=breadcrumb][data-content=menu] {
		position: relative;
	}
}*/

[data-group=menu][data-role=wrapper] {
	height: 100%;
	width: 100%;
  display: flex;
  justify-content: center;
}


input[type=checkbox][name=menu]:checked + [data-group=menu][data-role=wrapper] {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	position: absolute;
}

input[type=checkbox][name=menu]:checked + [data-group=menu][data-role=wrapper] label[for=menu_controller] {
	position: fixed;
	z-index: 3;
	top: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.85);
	height: 100%;
	width: 100%;
	background-image: url(close_txt_underlined.svg);
	background-position: top center;
	background-repeat: no-repeat;
}

input[type=checkbox][name=menu]:checked + [data-group=menu][data-role=wrapper] label[for=menu_controller]:hover {
	background-image: url(close_txt.svg);
}

[data-group=main][data-role=menu] {
	left: auto;
	right: auto;
	overflow: hidden;
	top: 80px;
	bottom: 30px;
	width: 90%;
	max-width: 700px;
	z-index: 4;
}


/* z-index loop */
/*
ul[data-group=menu][data-role=sub_menu] {
	z-index: 1;
}

ul[data-group=menu][data-role=sub_menu] ul[data-group=menu][data-role=sub_menu] {
	z-index: 2;
}

ul[data-group=menu][data-role=sub_menu] ul[data-group=menu][data-role=sub_menu] ul[data-group=menu][data-role=sub_menu] ul[data-group=menu][data-role=sub_menu] {
	z-index: 3;
}*/