html, body {
	margin: 0px;
	padding: 0px;
}

a {
	/*color: #1252b9;*/
	/*color: #1a57b9;*/
	color: #225ebf;
}

.flex {
	display: flex;
}

.link {
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

hr {
  height: 1px;
  border: 0px;
  background: #c4c4c4;
  margin: 10px 0px;
}

li.styled {
	list-style: disc !important;
  margin-left: 24px;
}

.hide {
	display: none;
}

.font_n1 {
	font-family: 'Nunito', sans-serif;
}

.bg_color_n1 {
  /*background-color: #2d3a58;*/
  /*background-color: #1b2233;*/
  /*background-color: #1b222f;*/
  /*background-color: #1e2635;*/
  /*background-color: #1a212f;*/
  background-color: #172030;
}

.bg_color_n2 {
  background-color: #ffffff;
}

.bg_color_n3 {
  /*background-color: #1e2944;*/
  /*background-color: #242c3e;*/
  /*background-color: #262c39;*/
  /*background-color: #151c28;*/
  /*background-color: #212938;*/
  /*background-color: #20293a;*/
  background-color: #252e40;
}

.bg_color_n4-hover:hover {
	background-color: #263250;
}

.text_color_n2 {
  color: #ffffff;
}

[data-group=section_grid][data-role=header].custom_margin {
	margin-top:50px;
}

[data-group=section_grid][data-role=header] h2 {
	margin: 12px 0px;
}

hr[data-role=sections_divider] {
	/*border: 0px;
	border-radius: 2px;
	height: 4px;
	width: 40%;
	background: #374152;
	margin: 20px auto;*/

	border-top-width: 2px;
  border-style: dashed;
  border-color: #374152;
  border-radius: 0px;
  height: 0px;
  background: transparent;
  margin: 20px auto;
}

[data-group=card][data-role=link] {
    display: block;
    background: #75bba6;
    padding: 10px 14px;
    border-radius: 6px;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    margin: 0px auto;

    margin-top: 20px;	
    width: 100%;
  max-width: 240px;
}

[data-group=section_grid][data-role=show_more] {
    background: url(Rectangle206.svg);
    background-position: bottom;
    background-repeat: repeat-x;
    display: flex;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    z-index: 2;
    padding-bottom: 20px;
    border-radius: 20px;
}

[data-group=section_grid][data-role=wrapper] {
  box-sizing: border-box;
  padding: 0px 15px;
  position: relative;
  z-index: 1;
}

[data-role=section_grid] a[data-role=section_link] .bold {
  /*border: 1px solid;
  padding: 4px 10px;
  border-radius: 10px;*/
  font-weight: bold;
}
/*
[data-role=section_grid] {
	margin-top: 40px;
}*/

/*[data-role=section_grid] a[data-role=section_link] {
   text-decoration: none;
}*/

[data-role=section_grid] [data-role=section_icon] {
  padding-right: 12px;
  box-sizing: border-box;
}

[data-role=section_grid] [data-role=section_item] {
  /*border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;*/
  border-radius: 10px;
  padding: 16px;
  box-sizing: border-box;
}

[data-role=webpage_menu_title] {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #5a5a5a;
  display: block;
}

[data-group=main][data-role=container_wrapper] {
	max-width: 1100px;
	padding: 30px;
	box-sizing: border-box;
	margin: 0 auto;
}

[data-group=main][data-role=container] {
	width: 100%;
	padding: 25px 20px;
	box-sizing: border-box;
	border-radius: 20px;
	margin-top: 0.64em;
	position: relative;
}

[data-group=main][data-role=container].margin_top {
	margin-top: 1.8em;
}

[data-group=main][data-role=breadcrumbs] {
	box-sizing: border-box;
	border-radius: 20px;
  display: inline-block;
  clear: both;
}

[data-group=main][data-role=breadcrumb] {
	padding: 0px 18px;
	border-radius: 8px;
  display: flex;
  float: left;
  margin-right: 10px;
  height: 44px;
  box-sizing: border-box;
  min-width: 44px;
  align-items: center;
  font-size: 17px;
  margin-bottom: 0.7em;
}

[data-group=main][data-role=breadcrumb][data-content=menu] {
	padding: 0px;
	justify-content: center;
	border: 0px;
	z-index: 1;
}

[data-group=main][data-role=breadcrumb][data-content=menu] label[for=menu_controller] {
	width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-group=main][data-role=breadcrumb][data-content=menu] label[for=menu_controller] {
	width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

}

[data-group=main][data-role=breadcrumb][data-content=menu] label[for=menu_controller] [data-role=menu_icon] {
	display: block;
}

[data-group=main][data-role=breadcrumb][data-content=menu] label[for=menu_controller] [data-role=close_menu_icon] {
	display: none;
}


[data-group=main][data-role=breadcrumb][data-content=menu] label[for=menu_controller]:hover {
	cursor: pointer;
}

[data-group=main][data-role=menu] {
	display: none;
	position: fixed;
	top: 54px;
  left: -10px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

[data-group=main][data-role=menu] ul {
	padding: 0px;
	margin: 0px;
}

[data-group=main][data-role=menu] ul li {
	list-style: none;
}

[data-group=main][data-role=menu] [data-role=section_item] {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px 0px;
  padding: 8px 14px;
  padding-right: 20px;
  font-size: 16px;
}

[data-group=main][data-role=menu] [data-role=section_item]:hover {
  background: #e2ecff;
}

[data-group=main][data-role=menu] [data-role=section_item] > [data-role=icon] {
	margin-right: 12px;
  background: #172030;
  border-radius: 8px;
  color: #fff;
  min-height: 30px;
  min-width: 30px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

[data-group=main][data-role=menu] [data-role=section_item] > [data-role=icon][data-state=closed] {
  display: flex;
}

[data-group=main][data-role=menu] [data-role=section_item] > [data-role=icon][data-state=opened] {
  display: none;
}

input[type=checkbox][name=menu]:checked + [data-group=menu][data-role=wrapper] [data-group=main][data-role=menu] {
	display: block;
}

ul[data-group=menu][data-role=sub_menu] {
	display: block;
	margin-left: 700px;
	padding: 15px;
	overflow-x: hidden;
	overflow-y: scroll;
}
/*
input[type=radio][name=sub_menu]:checked + label [data-role=icon][data-state=opened]{
	display: flex;
  padding: 0px 10px;
}

input[type=radio][name=sub_menu]:checked + label [data-role=icon][data-state=closed] {
	display: none;
}

input[type=radio][name=sub_menu]:checked + label a {
	display: none;
}

input[type=radio][name=sub_menu]:checked + label {
	z-index: 2;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
}*/

input[type=radio][name=sub_menu]:checked + [data-group=menu][data-role=sub_menu] {
	position: absolute;
	background: #ffffff;
	right: 0px;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin-left: 0px;
}

input[type=radio][name=sub_menu]:checked + [data-group=menu][data-role=sub_menu] [data-group=menu][data-role=sub_menu] {
	position: absolute;
	display: none;
}

[data-group=breadcrumbs][data-role=container] {
	border-radius: 8px;
}

[data-group=breadcrumbs][data-role=content] {
	padding: 0px 10px;
  line-height: 24px;
}

[data-group=breadcrumbs][data-role=logo_wrapper] {
	background: #172030;    
	padding: 9px 10px 4px 10px;
	border-radius: 8px;
}

span[data-role=webpage_link] {
  margin: 14px;
  display: block;
  font-size: 16px;
}

[data-role=section_item] img {
	margin-right: 10px;
}


/*input[type=radio][name=sub_menu]:checked + label + [data-group=menu][data-role=sub_menu] > li > [data-group=menu][data-role=sub_menu] {
	display: block;
	margin-left: 0px;
}*/

[data-group=main][data-role=breadcrumb] img {
	height: 24px;
	width: auto;
}

a.dark_bg {
	color: #a7c9ff;
}

[data-group=main][data-role=header] {
	width: 100%;
}

[data-group=card][data-role=content_wrapper] {
	display: flex;
	flex-wrap: wrap;
}

img[data-group=card] {
	width: 194px; 
	height: auto;
	position: relative;
}

[data-group=card][data-role=text] {
	padding: 0px 20px;
}

[data-group=card][data-role=text] h2 {
	margin-top: 8px;
	margin-bottom: 0px;
	line-height: 1.2em;
}

[data-role=short_desc] li {
	margin: 6px 0px;
}

h1[data-role=logo] {
	font-weight: 300;
  padding: 12px 18px;
  margin-top: 0px;
  border-radius: 10px;

  display: inline-flex;
  align-items: center;
}

h1[data-role=logo] img {
	margin-right: 12px;
}


/*@media screen and (min-width:769px){
	[data-group=main][data-role=menu] {
		width: 340px;
	}


	[data-group=main][data-role=breadcrumb][data-content=menu] {
		position: relative;
	}
}*/

[data-group=menu][data-role=wrapper] {
	height: 100%;
	width: 100%;
  display: flex;
  justify-content: center;
}


input[type=checkbox][name=menu]:checked + [data-group=menu][data-role=wrapper] {
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	position: absolute;
}

input[type=checkbox][name=menu]:checked + [data-group=menu][data-role=wrapper] label[for=menu_controller] {
	position: fixed;
	z-index: 3;
	top: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.85);
	height: 100%;
	width: 100%;
	/*background-image: url(close_txt_underlined.svg);
	background-position: top center;
	background-repeat: no-repeat;*/
	align-items: flex-start;
  justify-content: flex-end;
  padding: 28px;
}

input[type=checkbox][name=menu]:checked + [data-group=menu][data-role=wrapper] label[for=menu_controller] [data-role=menu_icon] {
	display: none;
}

input[type=checkbox][name=menu]:checked + [data-group=menu][data-role=wrapper] label[for=menu_controller] [data-role=close_menu_icon] {
	display: block;
	height: 28px;
}

[data-group=main][data-role=menu] {
	left: auto;
	right: auto;
	overflow: hidden;
	top: 80px;
	bottom: 30px;
	width: 90%;
	max-width: 700px;
	z-index: 4;
}


/* z-index loop */
/*
ul[data-group=menu][data-role=sub_menu] {
	z-index: 1;
}

ul[data-group=menu][data-role=sub_menu] ul[data-group=menu][data-role=sub_menu] {
	z-index: 2;
}

ul[data-group=menu][data-role=sub_menu] ul[data-group=menu][data-role=sub_menu] ul[data-group=menu][data-role=sub_menu] ul[data-group=menu][data-role=sub_menu] {
	z-index: 3;
}*/


.test_style > span::after {
	content: '';
  background-image: url(path434.svg);
  height: 56px;
  width: 64px;
  z-index: 0;
  position: absolute;
  right: -34px;
}


.test_style > span > span {
  z-index: 1;
  position: relative;
}





[data-group=catalog][data-role=card] {
	text-align: center;
}


[data-group=main][data-role=col_3] {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	max-width: 1100px;
	box-sizing: border-box;
	margin: 0 auto;
	column-gap: 28px;
	position: relative;
	row-gap: 24px;
}

[data-goup=column][data-role=card] {
	background-color: #ffffff;
	width: 100%;
  padding: 25px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
}



[data-group=grids][data-role=catalog] h2 {
	text-decoration: underline;
}

[data-group=card][data-role=container] {
	height: 100%;
	padding-bottom: 77px;
  box-sizing: border-box;
}

[data-group=card][data-role=wrapper] {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
}

[data-group=card][data-role=wrapper].flex [data-role=image] {
	text-align: center;
	width: 240px;
}

[data-group=card][data-role=wrapper].flex ul {
	margin-left: 20px;
}

[data-group=card][data-role=wrapper].flex ul li {
	list-style: circle;
	/*margin: 12px 0px;*/
}

[data-group=card][data-role=wrapper].flex ul li {
	margin: 20px 0px;
}

[data-group=card][data-role=wrapper].flex ul li a {
	font-size: 16px;
  /*line-height: 34px;*/
  text-decoration: none;
}

[data-group=card][data-role=wrapper].flex ul li a .bold {
	font-weight: bold;
  /*text-decoration: underline;*/
}

[data-group=card][data-role=wrapper].flex ul li a .bold {
	border: 1px solid;
  padding: 4px 10px;
  border-radius: 10px;
  text-decoration: none;
}

[data-group=card][data-role=wrapper].flex [data-role=image] img{
	max-width: 100%;
}

[data-group=card][data-role=wrapper].flex [data-group=card][data-role=link] {
	display: block;
	background: #75bba6; 
	padding: 8px 14px; 
	border-radius: 6px; 
	text-align: center;
	box-sizing: border-box; 
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	position: relative;
	width: 180px;
}

[data-group=main][data-role=col_3] [data-group=card][data-role=link] {
	display: block;
	width: 100%;
	background: #3C84C6; 
	padding: 14px; 
	border-radius: 6px; 
	text-align: center;
	box-sizing: border-box; 
	color: #fff;
	text-decoration: none;
	margin-top: -51px; 
	font-size: 17px;
	position: absolute;
}

[data-group=main][data-role=container].custom_margin {
	margin-top: 28px;
}


[data-group=main][data-role=container].custom_padding {
	padding-bottom: 10px;
}

[data-group=main][data-role=col_3] [data-group=card][data-role=link]:hover {
	background: #3971a5;
}


[data-group=card][data-role=wrapper].flex {
	display:flex; flex-wrap: wrap;
	align-items: center;
	/*justify-content: center;*/
}




.tableslider {
    width: 100%;
    border-collapse: collapse;
}

.pointer {
    text-align: center;
    display: none;
    position: absolute;
    top: -14px;
    left: -2px;
}

.pointer > div {
    background-color: #ffffff;
    border: 1px solid #000;
    height: 41px;
    width: 40px;
    padding: 4px 4px;
    position: relative;
    text-align: center;
    top: -42px;
    left: -15px;
    color: #000000;
    border-radius: 4px;
    font: 14px verdana;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pointer i {
    color: #aaaaaa;
}

.pointer i::after {
  content: "";
    position: absolute;
    top: 9px;
    left: 11px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}


.designs {
	margin-top: 50px;
}

/*.designs img {
	display: inline;
	max-width: 250px;
	max-height: 250px;
}*/

.designs a {
	display: inline-block;
  width: 25%;
  height: 266px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
  border-radius: 16px;
  border: 5px solid #fff;
  box-sizing: border-box;
}

@media screen and (max-width:1000px){
	.designs a {
		width: 33%;
	}

	[data-group=card][data-role=wrapper].flex {
		justify-content: center;
	}

	[data-group=card][data-role=wrapper].flex ul {
		margin: 25px 0px 0px 0px;
    padding-left: 30px;
    width: 100%;
	}


	[data-group=main][data-role=col_3] {
		grid-template-columns: repeat(2,1fr);
		column-gap: 58px;
	}
}

@media screen and (max-width:764px){
	.designs a {
		width: 50%;
	}
}

@media screen and (max-width:744px){
	[data-group=main][data-role=col_3] {
		grid-template-columns: repeat(1,1fr);
	}

	[data-group=card][data-role=wrapper].flex {
		justify-content: left;
	}

	[data-group=card][data-role=wrapper].flex [data-role=image] {
		text-align: center;
		width: 100%;
	}
}

@media screen and (max-width:560px){
	.designs a {
		width: 100%;
	}
}

